/*Element*/

/*class*/

/*id*/

/*Star*/
* {
	border: 1px dashed lightgrey;
}
/*Descendant Selector*/
ul li a {
	color: black;
}
/*Adjacent Selector*/
h4 + ul {
	border: 1px solid steelblue;
}
/*Attribute Sleector*/

/*nth of type*/