/*Element*/

/*class*/

/*id*/

/*Star*/
* {
	border: 1px dashed lightgrey;
}
/*Descendant Selector*/
ul li a {
	color: black;
}
/*Adjacent Selector*/
h4 + ul {
	border: 1px solid steelblue;
}
/*Attribute Sleector*/
a[href="http://www.google.com"] {
	background: steelblue;
}
/*nth of type*/