body	{
	background: black;
}

h1	{
	color: white;
}

li	{
	border: 1px solid steelblue;
	color: lightgray;
}

#special {
	background: yellow;
}
.blues {
	background: blue;
	text-decoration: line-through;
	
}